[flake8]
max-line-length = 88
exclude = .git,.venv,__pycache__,.pytest_cache
ignore =
    # E203: whitespace before ':'
    E203,
    # E501: line too long
    E501,
    # W503: line break before binary operator
    W503,
    # E722: do not use bare except
    E722,
    # E712: comparison to True should be 'if cond is True:' or 'if cond:'
    E712
per-file-ignores =
    custom_components/middle_atlantic_racklink/__init__.py:F401,F403
    custom_components/middle_atlantic_racklink/const.py:F401 